*{font-size:10pt;}
body{text-align:center;}
.table{width:1200px;height:100%;border:0px solid #15B69A;border-collapse: collapse;}<!--ÐÞ¸Ä-->
.table td{border:0px solid #15B69A;}<!--ÐÞ¸Ä-->
.trTop {background: #15B69A;}
.tdTop {text-align: center; height: 100px;}
.tdLeft{width: 190px;padding:0px;}<!--ÐÞ¸Ä-->
.tdSearch{height: 65px; border-bottom-width: 0px; padding: 0px; margin: 0px;}
.tdBody{border-top-width: 0px;}
iframe {width: 100%;height: 100%;}