.menuBar {
border:0px solid rgb(37,34,33);
width:186px;
color:#ffffff;
font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
.barTitle {
height:60px;
background-color:rgb(255,153,0);
font-weight:bold;
}

.barTitleText {
	float:left;
	width:100%;
	margin-top:20px;
	text-align:center;
	font-size: 15pt;
}

.menuTitleText {
margin-top:14px;
margin-left:10px;
float:left;
}


.menuTitle {
background-color:rgb(25,119,176);
width:186px;
height:40px;
margin-top:0px;
border-right-color:rgb(211,211,211);
border-bottom-color:rgb(211,211,211);
border-right-width:0px;
border-bottom-width:0px;
border-right-style:solid;
border-bottom-style:solid;
cursor:pointer;
}
.menuTitleIcon {
	margin-top:12px;
	float:left;
}

.menuContent {
/*	height:150px;*/
	color:#FFFFFF;
	display:none;
	overflow:auto;
	text-align:center;
}
.barBottom {
background-color:rgb(25,119,176);
width:168px;
height:0px;
}
a {
	color:#000000;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
a:link {
	TEXT-DECORATION: none
}
a:visited {
	TEXT-DECORATION: none
}
a:hover {
	TEXT-DECORATION: none;
	font
}
a:active {
	TEXT-DECORATION: none;/*underline*/
}

.menuItem {
	height:30px;
	margin-bottom:0px;  
	border: 0px solid rgb(68,141,174);
	background-color: rgb(121,201,236);
	cursor:pointer;
}