#divTitle{width:880px;margin-top: 65px;height:30px;border:1px solid #d0d0d0;line-height: 30px;background: url(/JustDoit/style/images/bg_btns.png) repeat-x 0px -132px;}
#spanTitle{margin-left: 18px;font-weight: 900;}
#divBody{width:880px;height:400px;border-left:1px solid #d0d0d0;border-right:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;}
#divMain{margin-left: 240px;}
.tdText{width:300px;text-align: right;}
.tdInput{width:250px;}
.tdError{width:300px;}
#tableForm{line-height:50px;}
.inputClass{width:240px;height:30px;border:1px dolid #7f9db9;line-height: 30px;padding-left:5px;}
#imgVerifyCode{width: 125px;margin-top: 10px;margin-bottom: -7px;}
#divimg{text-align: center;border:1px solid #e2e2e2;margin-top: 12px;}
.inputBtn{width:240px;height:30px;border:1px dolid #7f9db9;line-height: 30px;margin-left:3px;margin-top: 30px;}
.errorClass{background: url(/JustDoit/style/images/error.png)no-repeat;color:#f40000;font-size:10pt;border:1px solid #ffb8b8;background-color: #fef2f2;padding:9px 8px 8px 35px;}